---
import Single from "../../layouts/Single.astro"
---
<Single title="Playgrounds">
    <ul>
        <li><a href="svelte/">Svelte</a></li>
        <li><a href="vanilla/">Vanilla</a></li>
    </ul>
</Single>

