.post {
    @include margintb(20px, 49px);
    width: var(--post-width);

    &-info {
        flex: 1;
        top: 0;
        width: 17vh;
        margin-left: 12px;
        height: auto;
    }

    &-field {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 410px;

        h2 {
            justify-content: left
        }
    }

    &-title {
        @include fontsz(32px, var(--title-blue));
        @include margintb(15px, 3px);
        font-family: var(--sans-serif);
        font-weight: 399;
        font-style: italic;
    }

    &-date,
    &-idlepreview {
    @include fontsz(0.8rem, var(--txgray));
    margin-bottom: 10px;
    }

        &-container {
            @include borderleft(2px solid #8e8e8e, 15px);
        }

        &-header {
            margin: 20px;
            padding-right: var(--contentmarginright);
            padding-left: 20px;
            max-width: calc(var(--outerwidth) - var(--bar-width));

            img {
                width: 100%;
                height: auto;
                max-width: calc(var(--outerwidth) - var(--bar-width) - 100px);
                max-height: auto;
                margin-top: 14px;
            }
        }

        &-content {
            margin: 0 20px 20px;
            padding-right: var(--contentmarginright);
            padding-left: 20px;
            max-width: calc(var(--outerwidth) - var(--bar-width));

        p {
            @include margintb(19px, 17px);
            font-size: 0.95rem;
            line-height: var(--contentlinespacing);
        }

        a {
            color: var(--link-blue);
        }

        h1 {
            text-align: inherit;
            margin: 0;
            font-size: 1.4rem;
            font-family: var(--sans-serif);
        }

        h2 {
            font-size: 1.1rem;
        }

        h3 {
            font-size: 1rem;
        }

        blockquote {
            @include borderleft(5px solid var(--title-blue), 15px);
        }

        pre {
            @include boxwithborder(#000, 2px);
            display: flex;
            padding: 16px;
        }
    }
}

.bar-right {
    width: 300px;

    h3 {
        font-weight: 600;
    }
}