.post {
    @include margintb(20px, 49px);
    max-width: 762px;

    &-info {
        flex: 1;
        top: 0;
        width: 17vh;
        margin-left: 12px;
        height: auto;
    }

    &-field {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: clamp(600px, 750px, 1200px);

        h2 {
            justify-content: left
        }
    }

    &-title {
        @include fontsz(2.2rem, var(--title-blue));
        @include margintb(15px, 3px);
        font-family: var(--sans-serif);
        font-weight: 399;
        font-style: italic;
        text-transform: none;
        text-align: left;
        margin-left: 0;

        a {
            &:hover {
                color: darken($color: #6a81ff, $amount: 5)
            }
        }
    }

    &-date,
    &-idlepreview {
    @include fontsz(0.8rem, var(--txgray));
    margin-bottom: 10px;
    }

        &-container {
            @include borderleft(2px solid #8e8e8e, 15px);
        }

        &-header {
            margin: 20px;
            padding-right: var(--contentmarginright);
            padding-left: 20px;
            max-width: calc(var(--outerwidth) - var(--bar-width));

            img {
                width: 100%;
                height: auto;
                max-width: calc(var(--outerwidth) - var(--bar-width) - 100px);
                max-height: auto;
                margin-top: 14px;
            }
        }

        &-content {
            margin: 0 20px 20px;
            padding-right: var(--contentmarginright);
            padding-left: 20px;
            max-width: calc(var(--outerwidth) - var(--bar-width));

        p {
            @include margintb(19px, 17px);
            font-size: 1.1rem;
            line-height: var(--contentlinespacing);
        }

        a {
            color: var(--link-blue);
        }

        h1 {
            text-align: inherit;
            margin: 0;
            font-size: 1.6rem;
            font-family: var(--sans-serif);
        }

        h2 {
            font-size: 1.5rem;
            text-transform: none;
        }

        h3 {
            font-size: 1.3rem;
            &::before {
                content: 'ー';
            }
        }

        blockquote {
            @include borderleft(5px solid var(--title-blue), 15px);
        }

        pre {
            @include boxwithborder(#000, 2px);
            display: flex;
            padding: 16px;
        }
    }
}

.tag {
    margin-right: 10px;
    background: #3e3e3e;
    padding: 0px 9px 3px;
    border-radius: 3px;
    font-size: 13px;
    letter-spacing: 0.4px;
    font-weight: 600;

    &:hover {
        background: darken($color: #3e3e3e, $amount: 10);
        color: var(--link-blue);
    }
}

@media only screen and (max-width: 600px) {
    .post {
        max-width: 100vw;

        &-header {
            max-width: 100vw;
        }

        &-container {
            padding-left: 0;
        }

        &-field {
            width: 90vw;
        }
    }
}