---
import Single from "../../layouts/Single.astro"

const allPosts = await Astro.glob('../posts/*.md') 
const tags = [...new Set(allPosts.map(p => p.frontmatter.tags).flat())]

---

<Single title="Tags">
    <main>
        <ul>
            {tags.map(t => {
                return <li><a href={t}>{t}</a></li>
            })}
        </ul>
    </main>
</Single>