---
import SingleNoH2 from "../../layouts/SingleNoH2.astro"

const allPosts = await Astro.glob('../posts/*.md') 
const tags = [...new Set(allPosts.map(p => p.frontmatter.tags).flat())]

---

<SingleNoH2 title="Tags">
    <main class="main-container">
        <h2>Tags</h2>
        <div class="main-single-child">
            <ul>
                {tags.map(t => {
                    return <li><a href={t}>{t}</a></li>
                })}
            </ul>
        </div>
    </main>
</SingleNoH2>