---
import SingleNoH2 from "../layouts/SingleNoH2.astro";
---

<SingleNoH2 title="404">
    <main class="main-single-center">
        <h2>404</h2>
        <p>It looks like you are lost!</p>
    </main>
</SingleNoH2>

<style>
    h2 {
        font-size: 70px;
    }
    
    p {
        font-size: 25px;
        font-family: calibri, 'Segoe UI', Arial;
    }
</style>