---
import Single from "../layouts/Single.astro"

const happy = true;
const finished = false;
const goal = 3;
---

<Single title="About">

    {happy && <p>I am happy to be learning Astro!</p>}
    
    {finished && <p>I finished this tutorial!</p>}
    
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

</Single>
