---
import SingleNoH2 from "../layouts/SingleNoH2.astro"

---

<SingleNoH2 title="About">
    <main class="main-container">
        <h2>About</h2>
        <div class="main-single-child">
            <p>This site is for personal use of Zill_Laiss</p>
        </div>
    </main>
</SingleNoH2>
