---
import Single from "../layouts/Single.astro"

---

<Single title="About">
    <main class="main-single">
        <div class="main-single-child">
            <p>This site is for personal use of Zill_Laiss</p>
        </div>
    </main>
</Single>
