---
import Single from "../layouts/Single.astro";
import Count from "../components/Count.svelte"
---

<Single title="Counter" >
    <main class="main-single">
        <div class="main-single-child" >
            <Count client:load></Count>
        </div>
    </main>
</Single>

