---
import Base from "../layouts/Base.astro";
import Nav from "../layouts/Nav.astro";
---

<Base title="Home">
  <Nav />
  <main class="main-single">
    <h2>Xyassraist</h2>
    <p>Currently only a playground</p>
  </main>
</Base>

