---
import TOCHeading from "./TOCHeading.astro"

function buildTOC(headings: any[]) {
    const toc: any[] = []
    const parentHeadings = new Map()
    headings.forEach(h => {
        const heading = { ...h, subheadings: [] }
        parentHeadings.set(heading.depth, heading)
        if (heading.depth === 2) {
            toc.push(heading)
        } else {
            parentHeadings.get(heading.depth - 1).subheadings.push(heading)
        }
    })
    return toc
}

const { headings } = Astro.props

const toc = buildTOC(headings)
---

<div class="toc">
    <ul>
        {toc.map(h => <TOCHeading heading={h}></TOCHeading>)}
    </ul>
</div>