---
let { title } = Astro.props;

const date = new Date().getFullYear();
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
        <footer>
            © {date} Zill_Laiss.
        </footer>
    </body>
</html>

<style lang="scss" is:global>
    @import "../styles/app.scss";
    @import "../styles/post.scss";
    @import "../styles/generics.scss";

    .header-container {
        display: flex;
        margin: 45px 8% 20px 8%;
        padding: 20px 20px 0 20px;

        h2 {
            color: white;
            width: 843px;
        }
    }

    .main {
        &-container {
            position: relative;
        }

        &-single {
            @include divcenter(inherit);
            margin: var(--mainmargin);
            padding: var(--upperpadding);


            &-child {
                width: var(--outerwidth);
            }
            
            &-center {
                @include divcenter;
                margin: var(--mainmargin);
                padding: 20px;
            }
        }

        &-pair {
            display: flex;
            justify-content: center;
            margin: var(--mainmargin);
            padding: var(--upperpadding);
        }
    }

    .section {
        &-tag {
            font-family: var(--calibri);
            list-style: none;
            padding: inherit;
        }
    }

    .readmore {
        color: var(--link-blue);
        font-style: italic;
        margin-top: 31px;
    }

    .pagination {
        @include divcenter(inherit);

        &-page {
            margin: 10px;
        }

        &-current {
            color: var(--cyan);
            margin: 10px;
        }
    }

    .toc {
        position: absolute;
        top: 160px;
        padding: 10px 22px;
        font-family: var(--calibri);

        h2 {
            font-size: 14px;
            font-weight: normal;
            padding-left: 20px;
            font-family: var(--calibri);
            margin-bottom: 0;
        }
        
        ul {
            margin-top: 0;
            list-style: none;
            padding-left: 20px;
            font-size: 14px;
        }
    }

    .icon {
        &-container {
            margin-bottom: 6px;
        }

        &-small {
            max-width: 20px;
            margin-right: 6px;
            translate: 0 4px;
        }
    }

    .bar-right {
        max-width: 300px;
        width: 200px;
        line-height: 24px;

        h3 {
            font-weight: 600;
        }
    }

    @media only screen and (max-width: 600px) {
        body {
            overflow-x: scroll;
            background: black;
        }
        
        .toc {
            display: none;
        }

        nav {
            ul {
                margin: 0;
                min-width: unset;

                li a {
                    padding: 0 5px;
                }
            }
        }

        .main {
            &-pair {
                margin: 20px 0;
                padding: 0 0 20px 0;
                flex-direction: column;
            }

        }

        .bar-right {
            margin-left: 33px;
            font-size: 20px;
            line-height: 33px;
        }
    }

    // ! browser specific

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #050505;
    }

    ::-webkit-scrollbar-thumb {
        background: #222222;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    /* Scrollbar styling for Firefox */
    html {
        scrollbar-color: #141414 #000000;
    }
</style>
