---

---

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/1">Blog</a></li>
        <li><a href="/tags/">Tags</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>