---
import Single from "./Single.astro"
const { frontmatter } = Astro.props

---
<Single title={frontmatter.title} >
    <p>Written by {frontmatter.author}</p>
    <p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
    <div class="post-content">
        <slot />
    </div>
</Single>