---
import Base from "./Base.astro"
import Nav from "./Nav.astro"

let {title} = Astro.props
---

<Base title={title} >
    <Nav />
    <div class="header-container">
        <h2>{title}</h2>
    </div>
    <slot />
</Base>

<style lang="scss">
    .header-container {
        display: flex;
        margin: 45px 8% 20px 10%;

        h2 {
            color: white;
            width: 1206px;
            max-width: 1204px;
        }
    }
</style>