---
import Base from "./Base.astro"
import Nav from "./Nav.astro"

let {title} = Astro.props
---

<Base title={title} >
    <Nav />
    <div class="header-container">
        <h2>{title}</h2>
    </div>
    <slot />
</Base>